body{
    background-color:#e18a7a ;
}
.hero{
    background-color: rgb(204, 110, 48);
    color: black;
    font-family: "Libre Baskerville", cursive;
    margin: 20px;
    padding: 10px;
    text-align: center;
    border: 3px solid #fff4f4;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 20px;
}
.hero>h1{
    font-size: 3rem ;
}
.about{
    background-color: #6e612f;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 10px;
    text-align: center;
    border: 3px solid #fff4f4;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 20px;
}
.about div img{
    width: 500px;
    height: 600px;border: 5px solid rgb(92, 27, 27);
    border-radius: 20px;
}

.skills{
    background-color: #eca69b;
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
    border: 3px solid #fff4f4;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    font-family: "Libre Baskerville", serif;
}
.skills h1{
    font-size: 2rem;
}
.skills h2{
    margin-top: 20px;
}
.Projects{
    background-color: #f0ab86;
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
    border: 3px solid #fff4f4;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    font-family: "Libre Baskerville", serif;
}
.Projects .weather-finder{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.Projects .weather-finder img{
    width: 300px;
    height: 340px;
}
.Projects .photobooth img{
    width: 300px;
    height: 340px;
}
.contact{
    background-color: #9ae78f;
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
    border: 3px solid #fff4f4;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    font-family: "Libre Baskerville", serif;
}