body{
    background-color:#e18a7a ;
}
.hero{
    background-color: rgb(233, 114, 159);
    color: black;
    font-family: "Libre Baskerville", cursive;
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.about{
    background-color: #6e612f;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.about div img{
    width: 500px;
    height: 500px;border: 5px solid violet;
    border-radius: 20px;
}

.skills{
    background-color: #e89b8f;
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
    border: 3px solid #fff4f4;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    font-family: "Libre Baskerville", serif;
}
.skills h1{
    font-size: 2rem;
}
.skills h2{
    margin-top: 20px;
}
#languages li{
    
}